* {
  box-sizing: border-box;
}
/* anchor elements to style links: */
a:link {
  color: #0e4e3e;
}

a:visited {
  color: #ac53ac;
}

a:hover {
  color: #7373c9;
}

a:active {
  color: #5f1a35;
}

/* style largest header */
h1 {
  color: #99367f;
  font-family: cursive, Georgia, serif;
  font-size: 50px;
  background: white;
  padding: 20px 100px;
  margin: 20px 200px 0px 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style non-header text in page header  */
header p {
  color: #99367f;
  font-family: cursive, Georgia, serif;
  background: white;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-bottom: 4px
}

/* add background image and center content of header section */
header {
  background-image: url("images/succulent.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* center all headers */
h1, h2, h3 {
  text-align: center;
}

/* resize intro image */
.portrait {
  height: 250px;
}

/* align and center intro section */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* add left/right padding to articles in main section */
article {
  padding: 0px 250px;
}

/* style main section */
main {
  background-color: #c8d5d2;
  padding: 25px
}

/* add background image and center/align footer */
footer {
  background-image: url("images/succulent.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -16px
}

/* style text within footer */
footer p {
  color: #99367f;
  font-family: Georgia, serif;
  font-size: 15px;
  background: white;
  padding: 4px 20px;
  margin: 4px 200px 0px 200px;
  min-width: 100px;
}